<div class="home-page">
  <div class="banner">
    <div class="container">
      <h1 class="logo-font">conduit</h1>
      <p>A place to share your knowledge.</p>
    </div>
  </div>
  <div class="container page">
    <div class="row">
      <div class="col-md-9">
        <div class="feed-toggle">
          <ul class="nav nav-pills outline-active">
            <li class="nav-item">
              <a
                class="nav-link"
                [ngClass]="{
                  active: (articlesConfig$ | async)?.type === 'FEED'
                }"
                (click)="updateArticlesFeedType('FEED')"
                >Your Feed</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                [ngClass]="{
                  active: (articlesConfig$ | async)?.type === 'GLOBAL'
                }"
                (click)="updateArticlesFeedType('GLOBAL')"
                >Global Feed</a
              >
            </li>
          </ul>
        </div>

        <app-articles-list-item
          *ngFor="let article of articles$ | async"
          [article]="article"
        >
        </app-articles-list-item>
      </div>

      <div class="col-md-3">
        <div class="sidebar">
          <p>Popular Tags</p>

          <div class="tag-list">
            <a class="tag-pill tag-default" *ngFor="let tag of tags$ | async">{{
              tag
            }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
