<div class="post-preview">
  <div class="post-meta">
    <a routerLink="/"><img [src]="article.author.image" /></a>
    <div class="info">
      <a routerLink="/" class="author">{{ article.author.username }}</a>
      <span class="date">{{ article.createdAt | date: "longDate" }}</span>
    </div>
    <button
      class="btn btn-outline-primary btn-sm pull-xs-right"
      [class.active]="article.favorited"
      (click)="markAsFavorite(article.slug)"
    >
      <i class="ion-heart"></i> {{ article.favoritesCount }}
    </button>
  </div>
  <a class="preview-link" routerLink="article/{{ article.slug }}">
    <h1>{{ article.title }}</h1>
    <p>{{ article.description }}</p>
    <span>Read more...</span>
  </a>
</div>
